<%- include header%>
<form method="post">
用户名:<input type="text" name="name" id="name"><br>
密码:<input type="text" name="password" id="password"><br>
    <input type="submit" value="登陆">
</form>
<%- include footer%>